tr:hover{
    color: black;
    background-color: lightblue;
}
table{
    table-layout:auto;
    margin-left: 0;
}
th{
    font-min-size: 3px;
}
@media only screen and (max-width: 400px) {
    th {
        font-size: 15px;
        word-break: break-all;
    }

}